<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Restful</title>
</head>
<body>

    <div  ng-app="myApp">

        <div ng-controller="FetchController">
            <form  name="Selectline">


                    <select name = "Method" ng-model="method">

                        <option value="" hidden >Select your option</option>
                        <option value= "getNoPara" >GET without parameters</option>
                        <option value= "getwithparameters" >Get with parameters</option>
                        <option value= "post" >Post</option>

                     </select>
            </form>

         </div>





         <div ng-hide="withParameters ">


                 <input type="text" name="parameters" ng-model="text" />


         </div>


    </div>



</body>
</html>